/*** TYPOGRAPHY ***/
/* Global */
html {
	font-size: 125%;
	text-transform: lowercase;
}

html, 
input {
	font-family: 'Cabin', sans-serif;
}

/* font-size */
h1 {
	font-size: 2.4rem; 
}

h2, .totals {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.2rem;
}

.net {
	font-size: 4.8rem;
}

body,
input, 
label {
	font-size: .9rem;
}

/* font-weight */
h1 {
	font-weight: 700;
}

h2, label {
	font-weight: 600;
}

h3 {
	font-weight: 500;
}

input {
	font-weight: 400;
}

/* letter-spacing */
h1, h2, h3,
.totals, .net {
	letter-spacing: 3px;
}


/*** INPUT STYLES ***/
.input-container {
	position: relative;
}

input {
	width: 400px;
	height: 45px;
	margin: 0 0 15px 0;
	padding: 0 20px;
	border: 5px solid black;
	border-radius: 38px;

	text-align: right;
}


label {
	position: absolute;
	height: 0;
	padding: 11px 0 0 20px;
}

/*** MAIN GRID ***/
main {
	display: grid;
}