/*** TYPOGRAPHY ***/
/* Global */
html {
	font-size: 125%;
	text-transform: lowercase;
}

html, 
input {
	font-family: 'Cabin', sans-serif;
}

/* font-size */
h1 {
	font-size: 2.4rem; 
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.2rem;
}

.net {
	font-size: 3.75rem;
}

.total {
	font-size: 2rem;
}

body,
input, 
label {
	font-size: .9rem;
}

/* font-weight */
h1,
.total, .net {
	font-weight: 700;
}

h2, label {
	font-weight: 600;
}

h3 {
	font-weight: 500;
}

input {
	font-weight: 400;
}

/* letter-spacing */
h1, h2, h3 {
	letter-spacing: 3px;
}

/*** BASE STYLES ***/
body {
	min-height: 100vh;
}

.wrapper {
	width: 90%;
	max-width: 1160px;
	margin: 0 auto;
}

h2 {
	margin: 0 0 10px 0;
}

h3 {
	margin: 0 0 5px 0;
}

/*** INPUT STYLES ***/
.input-container {
	position: relative;
}

input {
	width: 400px;
	height: 45px;
	margin: 0 0 15px 0;
	padding: 0 20px;
	border: 5px solid black;
	border-radius: 38px;

	text-align: right;
}

label {
	position: absolute;
	height: 0;
	padding: 11px 0 0 20px;
}


/*** HEADER STYLES ***/
header {
	padding: 60px 0 75px 0;
}

/*** MAIN GRID ***/
main {
	display: grid;
	grid-template-columns: 500px 1fr;
	grid-template-rows: 300px auto;
}

/*** EXPENSES STYLES ***/
.expenses form {
	display: grid;
	grid-template-columns: 500px 1fr;
}


/*** RESULTS STYLES ***/
.results {
	display: flex;
}

.total:first-of-type {
	margin-bottom: 30px;
}

.net-income {
	margin: 0 0 0 85px;
}
